@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 10px
}

body{
    font-family: 'Poppins' , sans-serif;
    color: var(--primary-text-color);
    margin: 0;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto' , sans-serif;
    font-size: 1.1rem;
    color: var(--primary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;

}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover{
    color: var(--accent-color);
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    color: white !important;
    padding: 12px 24px;
    box-sizing: border-box;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
     background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.btn{
    background-color: var(--accent-color);
    border-radius: 8px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-sizing: border-box;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    margin-top: 25px;
}

.frist{
    margin-top: 20px;

}









.small-bold-text{
    font-size: 1rem;
    font-weight: 500;
   
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
}
.top-banner{
    padding: 0;
    margin-top: 0;
}

.top-banner{
    background-image: url(./assets/asset\ 28.jpg);
    background-color: #E74694;
    background-size: 300px;

}
.banner-text{
    color: white;
    padding: 0px 30px;
    text-align: center;
    
}

.flex{
    display: flex;
    align-items: center;
}

.main-nav{
    justify-content: space-between;
    
}

.company-logo img{
    width: 250px;

} 

.nav-links{
    flex-basis: 730px ;
}

.nav-links ul{
    justify-content: end;
    gap:35px
}

header{
    padding: 50px var(--padding-inline-section) 0;
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-right img{
    width: 40vw;
}

.header-left{
    max-width: 40vw;
}

.companies-header{
    text-align: center;
    margin-block: 30px;
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    height: 54px;
}
.logosmall{
    height: 35px;
}
.logobig{
    height: 74px;
}
.logosmall1{
    height: 25px;
}

.features-header{
    text-align: center;
    /* margin-top: 120px; */
}
.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 29.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.features-heading-text{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    gap: 40px;
}

.features-card{
    flex-direction: column;
    gap: 15px;
    max-width: 30%;
   
}
.cards{
    width: 40px;
    height: 60px;
}
.big-feature-section{
    padding-top: 100px;
}

.big-feature-container{
    gap: 50px;
}

.feature-img img{
    width: 100%;
}

.feature-desc{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 120px;
}

.para1{
  margin-bottom: 20px;
}

.heading1{
   margin-bottom: 20px;
} 

.paraA{
    background-image: url(./assets/asset\ 30.svg);
    background-position: top left;
    background-repeat: no-repeat;
    padding-inline: calc(30px);
    padding-top: 20px;
}

.end{
    display: flex;
    flex-direction: row;
}

.examples-header{
    text-align: center;
}

.examples-heading-text{
    margin-top: 70px;
}

.examples-card{
    width: 18rem;
    position: relative;
    min-height: 300px;
    background: black;
    background:linear-gradient(0deg, rgba(12, 12, 12, 0.5), rgba(23, 22, 23, 0.3)), url(./assets/asset\ 36.jpeg);
    background-size: cover;
    

}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white !important;
    font-size: 1.1rem;
    
}

.examples-area{
    /* justify-content: space-between; */
    margin-block: 30px;
    gap: 20px;
    margin-top: 10px;
   
}
.cta-section-container{
    flex-direction: column;
    gap: 30px;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

footer{
    padding-block: 80px;
    background-color: #EBF2FA !important;
}
.footer-contanier{
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
    
}

.subfooter{
    background-color: #b9cde4;
    padding: 20px;
    

}

.subfooter-container{
    justify-content: center;
    gap: 40px;
    
}









.panel-section {
    background-color: #183B56;
    color: white;
    padding: 50px 0;
}

.panel-section p{
   color: #B9CDE4;
}

.panel-section ul{
    color: #B9CDD7;
}
.panel-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.panel-content {
    max-width: 600px;
}

.panel-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.panel-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.panel-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.panel-details ul {
    list-style-type: disc;
    padding: 0;
}

.panel-details ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.panel-footer {
    display: flex;
    gap: 20px;
}


.panel-image {
    position: relative;
}

.price-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #183B66;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
   
}

.panel-image img {
    max-width: 100%;
}


.cta-section{
    margin-top: 150px;
    padding-bottom: 50px;
}
